.navbar-brand{
    font-weight: bold;
    color:#ffff !important;
}

.navbar-pink {
    background-color: #353c48;
}

#pink-button.btn-outline-primary{
    border-color: white;
    color: white;
}

#pink-button.btn-outline-primary:hover{
    border-color: white;
    color:#f788cf;
    background-color: white;
}

.input-text.form-control {
    margin-left: 5%;
    width: 80%
}
